<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Wir unterstützen Sie bei allen Anliegen rund ums Dach</h2>
        <p class="lead">Fordern Sie uns!</p>
	<p> 
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Geschichte" aria-expanded="false" aria-controls="Geschichte">
        	Zur Geschichte
     		</button>
  	</p>
  	<div class="collapse" id="Geschichte">
     		<div class="card card-body">
        	Die Spenglerei wurde 1962 durch Johann Alber (<i>"Huli Hans"</i>) gegründet
     		</div>
 	</div>
     </div>      
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
