<aside class="call-to-action bg-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p> Der Betreiber dieser Seite erfasst keine personenbezogenen Daten. </p>
        <p> Die für das Hosting notwendigen Datenerfassungen und -Verarbeitungen werden durch Github-Pages abgewickelt. Entsprechende Informationen können <a href"https://help.github.com/articles/github-privacy-statement/"> hier </a> entnommen werden</p>
        <p> Bitte beachten Sie weiterhin, dass für die Seite <a href="https://www.google.com/intl/de_de/help/terms_maps.html"> Google Maps </a> & <a href="https://policies.google.com/privacy?hl=de"> Google Fonts </a> eingebunden wird</p>
      </div>
    </div>
  </div>
</aside>
