<header id="top" class="header">
  <div class="text-vertical-center">
    <img style="max-width:45%; height:auto; background-color:white; opacity: 0.8" src="img/logo.png">
    <!-- Backgroundimage at stylish-portfolio.css -->
    <br>
    <br>
    <h1 style="color:white;"> Spenglerei Alber Mirco </h1>
    <h3 style="color:white;"> Ihr kompetenter Ansprechpartner vor Ort </h3> 
    <br>
    <a href="#about" class="btn btn-dark btn-lg" style="margin:1%;">Weitere Infos</a>
    <a href="#contact" class="btn btn-dark btn-lg" style="margin:1%;">Kontakt</a>
  </div>
</header>
