<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Unsere Referenzen</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="../img/weit_1.jpg">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="../img/weit_3.jpg">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="../img/weit_4.jpg">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="../img/weit_5.jpg">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="../img/weit_6.jpg">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="../img/weit_7.jpg">
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
